<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Student Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/student/list}">Students</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/student/add}">New Student</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a th:href="@{/logout}" class="btn btn-primary btn-sm mb-3 mx-auto">
                    Logout
                </a>

            </li>
        </ul>
    </div>
</nav>

<div class="container">


    <div class="row">
        <h1>List Students</h1>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Student First Name</th>
            <th>Student Last Name</th>
            <th>Student Course</th>
            <th>Student Country</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="student: ${students}">
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.course}"></td>
            <td th:text="${student.country}"></td>

            <td>

                <div class="row">


                    <div class="col-small">
                        <!-- Add "update" button/link -->
                        <form action="#" th:action="@{/student/update}" method="POST">

                            <input type="hidden" name="studentId" th:value="${student.id}"/>
                            <button type="submit" class="btn btn-info btn-sm ml-3 mr-1">Update</button>

                        </form>
                    </div>


                    <div class="col-small">
                        <!-- Add "delete" button/link -->
                        <form action="#" th:action="@{/student/delete}" method="POST">

                            <input type="hidden" name="studentId" th:value="${student.id}"/>
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="if (!(confirm('Are you sure you want to remove this student?'))) return false">
                                Delete
                            </button>

                        </form>
                    </div>

                </div>


            </td>
        </tr>
        </tbody>

    </table>


</div>
</body>

</html>
